.searchbar {
    display: flex;
    width: 35rem;
    position: relative;
}

.search-input-field {
    width: 35rem;
    height: 2rem;
    padding-left: 0.75rem;
    border-radius: 0.5rem;
    border-color: transparent;
    background-color: transparent;
    border-style: solid;
    border-color: #eae1df;
    color: #eae1df;
}

.search-input-field:focus {
    outline: none;
    border-color: #917C78;
}

.search-input-field:hover {
    border-color: #917C78;
}

.search-button {
    position: absolute;
    right: 0.75rem;
    top: 0.4rem;
    width: 1.5rem;
    height: 1.5rem;
}